*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quote-section{
    background-color: rgb(250, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vh;
    border-radius: 15px;
    flex-direction: column;
    margin-top: 7rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.hashtag{
    padding-left: 17rem;
}
.icon1{
    text-align: left;
    
}
.icon1 svg{
    fill: rgb(252, 144, 71);
}
.quotetxt{
    margin-top: 0;
    text-align: center;
   padding: 50px 100px;
   font-size: 1.5rem;
   font-weight: 400;
}
.line{
    width: 60vh;
    height: 2px;
    background-color: rgb(252, 144, 71);
}
.below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.icons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-left: 8rem;

}
.icons svg{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: rgb(252, 144, 71);
}